<template>
    <div class="navbar-item has-dropdown is-hoverable">
        <div v-if="$store.state.cart.length > 0">
            <div v-for="item in $store.state.cart"  :key="item.id">  {{ item.item }} x {{ item.quantity }} - ${{ item.totalPrice }}  <span @click.prevent="removeFromCart(item)"> DeLeTe</span></div><br>
            <a class="navbar-item" href=""> Итого: ${{ totalPrice }} </a><br>
        </div>
        <div v-else>
            <a> Корзина пуста  </a>
        </div>
    </div>
</template>

<script>
export default {
    data: function(){
        return{
           productsFromCart:[], 
        }
    },
    mounted: function() {
        this.productsFromCart = this.$store.getters.getCart;
            console.log(this.productsFromCart);
        },        
    computed: {
        totalPrice() {
        let total = 0;

        for (let item of this.$store.state.cart) {
            total += item.totalPrice;
        }

        return total.toFixed(2);
        }    
    },
    methods: {
    removeFromCart(item) {
        this.$store.commit('removeFromCart', item);
        this.$store.commit('saveCart');
    }
}
}

</script>